@import "./../../../../variables/variable.scss";
$url: "./../../../../assets/";

.section-introduce-wrapper {
    // background-image: url($url + "introduce-bg.jpg");
    background-color: white;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    .section-introduce {
        .introduce {
            z-index: -1;
            animation-name: scaleIndex;
            animation-iteration-count: 1;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-delay: 1.5s;
            .title {
                color: $color-primary;
                font-weight: 700;
                font-size: 2rem;
                letter-spacing: 4px;
                margin-bottom: 2.5rem;
                z-index: -1;
            }
            .content {
                margin-left: 2.5rem;
                &__primary {
                    font-weight: 800;
                    font-size: 3.5rem;
                    line-height: 4rem;
                }
                &__sub {
                    text-transform: uppercase;
                    font-weight: 700;
                    line-height: 4rem;
                    font-size: 1.2rem;
                    letter-spacing: 1.5px;
                }
                &__description {
                    width: 90%;
                    line-height: 1.5rem;
                    font-size: 0.9rem;
                }
            }
            .action {
                margin-left: 2.5rem;
                margin-top: 3rem;
            }
        }
        .image {
            // height: 50%;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            // background-image: url($url + "avatar.jpg");
            // background-size: cover;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                left: -0%;
                display: block;
                height: 100%;
                background-image: url($url + "avatar.jpg");
                background-size: cover;
                transition: all 0.5s;
                filter: grayscale(100%);
                z-index: 10000;
            }
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                left: -100%;
                display: block;
                height: 100%;
                background-image: url($url + "avatar.jpg");
                background-size: cover;
                transition: all 0.5s;
                filter: grayscale(0%);
                z-index: 10000;
                animation-name: transformImage;
                animation-iteration-count: 1;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                animation-delay: 1s;
            }
        }
        .action {
            width: 20.5%;
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        right: 0;
        display: block;
        height: 100%;
        background-color: $color-black;
        transition: all 1s;
        animation-name: scaleWidth;
        animation-iteration-count: 1;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }

    @keyframes scaleWidth {
        0% {
            width: 0%;
        }
        100% {
            width: 100%;
        }
    }
    @keyframes transformImage {
        0% {
            left: -100%;
        }
        100% {
            left: 0%;
        }
    }

    @keyframes scaleIndex {
        0% {
            z-index: -1;
        }
        100% {
            z-index: 1;
        }
    }
}
