@import "./../../../../variables/variable.scss";
$url: "./../../../../assets/";

.section-introduce{
    background-image: url($url + "introduce-bg.jpg");;
    height: 100vh;
    background-size: cover;
}